@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #EFEAE5;
  --brand-button-rgb: rgb(225 90 29);
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}
